@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using better_call_saul.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<ApplicationUser> SignInManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-scale me-2"></i>Better Call Saul
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house me-1"></i>Home
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="counter">
                        <i class="bi bi-plus-circle me-1"></i>Counter
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="weather">
                        <i class="bi bi-cloud me-1"></i>Weather
                    </NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="cases">
                                <i class="bi bi-folder me-1"></i>Cases
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            
            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="account/logout">
                                <i class="bi bi-box-arrow-right me-1"></i>Logout
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="account/login">
                                <i class="bi bi-person me-1"></i>Login
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="account/register">
                                <i class="bi bi-person-plus me-1"></i>Register
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool isAuthenticated = false;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }
}

